main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75em;

    max-width: 35rem;
    margin: 10vh auto auto auto;
    padding: 2em;
}

.title {
    color: #0066b2;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #0066b2;
    font-size: 20px;
}

.gap {
    margin-top: 0.5em;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1em;
}